@model IEnumerable<ticket.Models.Movie>
<h2 class="display-4">Movies</h2>

<button class="btn btn-primary" type="submit" onclick="location.href='@Url.Action("Create", "Movie")'">NewMovie</button>

<table class="table">
  <tr>
    <th>Movie</th>
    <th>Genre</th>
  </tr>
  @foreach (var item in Model)
  {
    <tr>
        @* <td ><a href="#link" asp-asp-controller="Home" asp-action="Index" asp-route-id="@item.Id">@item.Name</a></td> *@
        <td ><a href="@Url.Action("Edit","Movie" , new { id = item.Id })" >@item.Name</a></td>
        <td>@item.Genre</td>
    </tr>
  }

</table>
